config.code-workspace
robot-tasks-master/pyrob/__pycache__/**
robot-tasks-master/__pycache__/**
robot-tasks-master/pyrob/**
robot-tasks-master/pyrob/tasks/__pycache__/**
graphic primitives/__pycache__/**
physical modeling/__pycache__/**
.vscode/settings.json
lessons/__pycache__/**
.vscode/**.json

lessons/classes/__pycache__/**
lib_python.doc
lessons/testing/__pycache__/**
lessons/projects/alien_invasion/__pycache__/**
mark_lutz/Examples/PP4E/Lang/Calculator/__pycache__/**
flask/__pycache__/**
SKillBox_Vadim_Shandrinov/lesson_012/python_snippets/__pycache__/**
