config.code-workspace
robot-tasks-master/pyrob/__pycache__/**
robot-tasks-master/__pycache__/**
robot-tasks-master/pyrob/**
robot-tasks-master/pyrob/tasks/__pycache__/**
graphic primitives/__pycache__/**
physical modeling/__pycache__/**
.vscode/settings.json
lessons/__pycache__/**
.vscode/**.json

lessons/classes/__pycache__/**
lib_python.doc
