{% extends 'base.html' %}
{% block body %}
<h2>{{ the_title }}</h2>
<form method='POST' action='/search4'>
    <table>
        <p>Используйте эту форму для отправки запроса поиска:</p>
        <tr>
            <td>Фраза:</td>
            <td><input name='phrase' type='TEXT' width='60'></td>
        </tr>
        <tr>
            <td>Буквы:</td>
            <td><input name='letters' type='TEXT' value='аеёиоуыэюя'></td>
        </tr>
    </table>
    <p>Когда вы будете готовы, нажмите эту кнопку:</p>
    <p><input value='Искать!' type='SUBMIT'></p>
</form>
{% endblock %}